<!DOCTYPE html>
<html lang="en">

<head>
    <title>RSS Go</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="./resource/image/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.6.0/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .collapse {
            visibility: visible !important;
        }
    </style>
</head>

<body style="margin: 0; display:inherit;">
    <!-- nav header -->
    <div class="navbar bg-base-100">
        <div class="flex-none lg:hidden">
            <label for="routers-drawer" class="btn btn-square btn-ghost">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    class="inline-block w-5 h-5 stroke-current">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16">
                    </path>
                </svg>
                <label />
        </div>
        <div class="flex-1">
            <a class="normal-case text-xl lg:ml-6">RSS Go</a>
        </div>
        <div class="flex-none">
            <button class="btn btn-square btn-ghost">
                <img src="/resource/image/github-log.png" alt="" class="w-10 h-10">
            </button>
        </div>
    </div>
    <!-- router drawer -->
    <div class="drawer drawer-mobile">
        <input id="routers-drawer" type="checkbox" class="drawer-toggle" />
        <div class="drawer-content flex flex-col items-center justify-center">

            <!-- Page content here -->
        </div>
        <div class="drawer-side">
            <label for="routers-drawer" class="drawer-overlay"></label>
            <ul class="menu p-4 w-180 bg-base-100">
                {{range $index, $routerDirInfo := .routerCatInfoList}}
                {{if $routerDirInfo.CollapseOpen}}
                <div tabindex="{{$index}}" class="collapse collapse-open">
                    <div class="collapse-title">
                        {{ $routerDirInfo.Name }}
                    </div>
                    {{range $i, $subRouterDirInfo := $routerDirInfo.SubCatagoryList}}
                    <div class="collapse-content ml-4">
                        {{$subRouterDirInfo.Name}}
                    </div>
                    {{end}}
                </div>
                {{else}}
                <div tabindex="{{$index}}" class="collapse">
                    <div class="collapse-title">
                        {{ $routerDirInfo.Name }}
                    </div>
                    <div class="collapse-content ml-4">
                        I have collapse-open class
                    </div>
                </div>
                {{end}}
                {{end}}
            </ul>
        </div>
    </div>

</body>
