<!DOCTYPE html>
<html lang="en">

<head>
    <title>RSS Go</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="./resource/image/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.6.0/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .collapse {
            visibility: visible !important;
        }
    </style>
</head>

<body style="margin: 0; display:inherit;">
    <!-- nav header -->
    <div class="navbar bg-base-100">
        <div class="navbar-start">
            <div class="flex-1 ml-6">
                <a class="normal-case text-xl lg:ml-6" href="/">RSS Go</a>
            </div>
        </div>
        <div class="navbar-center">
        </div>
        <div class="navbar-end">
            <div class="w-3/5 flex justify-center">
                <div class="form-control w-5/6 max-w-2xl">
                    <input type="text" placeholder="搜索更多Feed" class="input input-bordered" />
                </div>
            </div>
            <button class="btn btn-square btn-ghost">
                <img src="/resource/image/github-log.png" alt="" class="w-10 h-10">
            </button>
        </div>
    </div>

    <!-- content -->
    <div class="flex justify-center">
        <div class="w-full ml-6 mr-6">
            <!-- feed item list -->
            <div class="w-full flex justify-center">
                <div class="md:w-full lg:w-3/5 xl:w-3/5 max-w-xl">
                    {{range $index, $item := .latestFeedItemList}}
                    <div class="card glass card-compact w-full bg-base-100 shadow-xl mt-6">
                        {{if $item.HasThumbnail}}
                        <figure>
                            <img src="{{$item.Thumbnail}}" alt="Thumbnail" class="object-cover w-full h-full" />
                        </figure>
                        {{else}}
                        {{end}}
                        <a class="card-body" href="/f/c/{{$item.ChannelId}}" target="_blank">
                            <h2 class="card-title">{{$item.Title}}</h2>
                            <p class="font-bold">{{$item.ChannelTitle}}</p>
                            <p>{{$item.Author}}</p>
                            <p>{{$item.Date}}</p>
                            <div class="card-actions justify-end">
                            </div>
                        </a>
                    </div>
                    {{end}}
                </div>
            </div>
        </div>
    </div>
</body>